# L1 regression of mean energy consumption

In [2]:
 # data and numbers
import numpy as np
import pandas as pd
import datetime as dt

# Visualization
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
%matplotlib inline

import pandas as pd
from sklearn import preprocessing

In [3]:
path_raw = "..//data//meters//raw//"
path_meta = "..//data//metadata//"
path_cleaned = "..//data//meters//cleaned//"

In [38]:
meta = pd.read_csv(
    path_meta + "metadata.csv",
    # usecols=[
    #     "building_id",
    #     "site_id",
    #     "sqm"
    # ],
    index_col="building_id"
)
meta.info()
meta.head()

def import_data(metername):
    # load data
    df = pd.read_csv(path_cleaned + metername + ".csv")
    
    # Transform timestamp to datetime object type
    df["timestamp"] = pd.to_datetime(df["timestamp"], format="%Y-%m-%d %H:%M:%S")
    df.set_index("timestamp", inplace=True)
    df.info()
    return df

sensor_data = import_data("electricity_cleaned")

# from meta, drop rows that are not in sensor_data index
meta = meta[meta.index.isin(sensor_data.columns)]

# split meta into train and test with sklearn
from sklearn.model_selection import train_test_split
train_meta, test_meta = train_test_split(meta, test_size=0.2, random_state=42)

<class 'pandas.core.frame.DataFrame'>
Index: 1636 entries, Panther_lodging_Dean to Mouse_science_Micheal
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   site_id                1636 non-null   object
 1   building_id_kaggle     1449 non-null   float64
 2   site_id_kaggle         1599 non-null   float64
 3   primaryspaceusage      1615 non-null   object
 4   sub_primaryspaceusage  1615 non-null   object
 5   sqm                    1636 non-null   float64
 6   sqft                   1636 non-null   float64
 7   lat                    1399 non-null   float64
 8   lng                    1399 non-null   float64
 9   timezone               1636 non-null   object
 10  electricity            1578 non-null   object
 11  hotwater               185 non-null    object
 12  chilledwater           555 non-null    object
 13  steam                  370 non-null    object
 14  water                  146 non-null    object
 15  irrigation             37 non-null     object
 16  solar                  5 non-null      object
 17  gas                    177 non-null    object
 18  industry               579 non-null    object
 19  subindustry            579 non-null    object
 20  heatingtype            215 non-null    object
 21  yearbuilt              817 non-null    float64
 22  date_opened            21 non-null     object
 23  numberoffloors         441 non-null    float64
 24  occupants              230 non-null    float64
 25  energystarscore        163 non-null    object
 26  eui                    299 non-null    object
 27  site_eui               163 non-null    object
 28  source_eui             163 non-null    object
 29  leed_level             16 non-null     object
 30  rating                 184 non-null    object
dtypes: float64(9), object(22)
memory usage: 409.0+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17544 entries, 2016-01-01 00:00:00 to 2017-12-31 23:00:00
Columns: 1578 entries, Panther_parking_Lorriane to Mouse_science_Micheal
dtypes: float64(1578)
memory usage: 211.3 MB

In [39]:
mean_sensor_data = sensor_data.mean()
mean_sensor_data.info()
print(mean_sensor_data)

<class 'pandas.core.series.Series'>
Index: 1578 entries, Panther_parking_Lorriane to Mouse_science_Micheal
Series name: None
Non-Null Count  Dtype
--------------  -----
1572 non-null   float64
dtypes: float64(1)
memory usage: 89.2+ KB
Panther_parking_Lorriane      10.722723
Panther_lodging_Cora         135.054565
Panther_office_Hannah          6.683938
Panther_lodging_Hattie       140.593488
Panther_education_Teofila    156.466222
                                ...
Mouse_lodging_Vicente         45.767561
Mouse_health_Justin          783.350343
Mouse_health_Ileana           43.587324
Mouse_health_Estela          384.684218
Mouse_science_Micheal        435.844964
Length: 1578, dtype: float64

In [44]:
# add mean_sensor_data as column to train_meta by index
print("Train")
train_meta['mean_sensor_data'] = mean_sensor_data
train_meta.info()

test_meta['mean_sensor_data'] = mean_sensor_data
test_meta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1262 entries, Fox_office_Brandy to Bobcat_lodging_Melaine
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   site_id                1262 non-null   object
 1   building_id_kaggle     1150 non-null   float64
 2   site_id_kaggle         1233 non-null   float64
 3   primaryspaceusage      1247 non-null   object
 4   sub_primaryspaceusage  1247 non-null   object
 5   sqm                    1262 non-null   float64
 6   sqft                   1262 non-null   float64
 7   lat                    1070 non-null   float64
 8   lng                    1070 non-null   float64
 9   timezone               1262 non-null   object
 10  electricity            1262 non-null   object
 11  hotwater               149 non-null    object
 12  chilledwater           424 non-null    object
 13  steam                  274 non-null    object
 14  water                  96 non-null     object
 15  irrigation             12 non-null     object
 16  solar                  5 non-null      object
 17  gas                    137 non-null    object
 18  industry               463 non-null    object
 19  subindustry            463 non-null    object
 20  heatingtype            177 non-null    object
 21  yearbuilt              617 non-null    float64
 22  date_opened            15 non-null     object
 23  numberoffloors         353 non-null    float64
 24  occupants              188 non-null    float64
 25  energystarscore        124 non-null    object
 26  eui                    208 non-null    object
 27  site_eui               124 non-null    object
 28  source_eui             124 non-null    object
 29  leed_level             10 non-null     object
 30  rating                 150 non-null    object
 31  mean_sensor_data       1257 non-null   float64
dtypes: float64(10), object(22)
memory usage: 325.4+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 316 entries, Hog_office_Alisha to Mouse_health_Modesto
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   site_id                316 non-null    object
 1   building_id_kaggle     277 non-null    float64
 2   site_id_kaggle         310 non-null    float64
 3   primaryspaceusage      312 non-null    object
 4   sub_primaryspaceusage  312 non-null    object
 5   sqm                    316 non-null    float64
 6   sqft                   316 non-null    float64
 7   lat                    274 non-null    float64
 8   lng                    274 non-null    float64
 9   timezone               316 non-null    object
 10  electricity            316 non-null    object
 11  hotwater               34 non-null     object
 12  chilledwater           117 non-null    object
 13  steam                  77 non-null     object
 14  water                  28 non-null     object
 15  irrigation             5 non-null      object
 16  solar                  0 non-null      object
 17  gas                    34 non-null     object
 18  industry               104 non-null    object
 19  subindustry            104 non-null    object
 20  heatingtype            37 non-null     object
 21  yearbuilt              157 non-null    float64
 22  date_opened            4 non-null      object
 23  numberoffloors         84 non-null     float64
 24  occupants              40 non-null     float64
 25  energystarscore        28 non-null     object
 26  eui                    49 non-null     object
 27  site_eui               28 non-null     object
 28  source_eui             28 non-null     object
 29  leed_level             3 non-null      object
 30  rating                 33 non-null     object
 31  mean_sensor_data       315 non-null    float64
dtypes: float64(10), object(22)
memory usage: 81.5+ KB